<%- include ("../partials/header")  %> 

<div class="container">
        <div>
            <pre>
                <code>
                <%= selectedId %> 
                </code>
            </pre>   

    </div>
</div>


<%- include("../partials/footer")  %> 